<!-- Tab panes -->
<div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
        <%= link_to "Add Player", new_player_path , class:'btn btn-primary', id:'add_new' %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Actions</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @players.each do |player| %>
                <tr>
                    <td><%= player.name %></td>
                    <td><%= player.status %></td>
                    <td><%= link_to "Edit",edit_player_path(player) ,class:'btn btn-info btn-sm'%></td>
                    <td><%= link_to "Delete", player, method: :delete, data: { confirm:"Are you sure"},class:'btn btn-warning btn-sm' %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    </div>
    <div id="game" class="container tab-pane fade"><br>
        <h3>Game</h3>
    </div>
</div>