<div id="scorecard">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Winner</th>
            <th>Status</th>
            
        </tr>
    </thead>
    <tbody>
        <% @scores.each do |score| %>
        <tr>
            <td><%= @players.find(score.player1_id).name %></td>
            <td><%= @players.find(score.player2_id).name %></td>
            <% if score.winner == "-" %>
            <td><%=  score.winner %></td>
            <% else %>
               <td><%=  @players.find(score.winner).name %></td>
            <% end %>
            
            <td><%= score.status %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>